@media (max-width: 769px) {
  header {
    height: 60px; } }

header .logo {
  height: 100px;
  border-radius: 50%;
  margin: 10px; }
  header .logo:hover {
    padding: 1px; }
  @media (max-width: 769px) {
    header .logo {
      height: 40px; } }

header .moverLogo {
  display: flex; }

header a {
  font-weight: 500;
  margin-left: 60px;
  font-size: 25px; }
  header a:hover {
    font-weight: bold; }

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%; }

main img {
  width: 100%; }

main .seccion1 {
  display: flex;
  justify-content: center; }

main .img {
  width: 70px;
  margin: 30px 100px; }

main .seccion3 {
  text-align: center; }
  main .seccion3 .seccionRedes {
    display: flex;
    justify-content: space-around; }
    main .seccion3 .seccionRedes img {
      height: 30px; }

main .seccion2 {
  text-align: center; }
  main .seccion2 .h2 {
    color: #16cbcb; }
    main .seccion2 .h2:hover {
      color: black; }
  main .seccion2 .resaltar:hover {
    padding: 2px; }
  main .seccion2 .colorLetras {
    color: green; }
    main .seccion2 .colorLetras:active {
      font-weight: bold; }
  main .seccion2 .colorLetrasNo {
    color: red; }

@media (max-width: 767px) {
  main img {
    padding: 15%; }
  main .texto {
    font-size: 15px; }
  main .h2 {
    font-size: 20px; }
  main .informacion {
    display: none; }
  main .img {
    width: 50px;
    margin: 1px 10px; } }

footer {
  text-align: center; }
  footer .seccion4 {
    text-align: center; }
    footer .seccion4 p {
      margin: 20px; }
  footer .seccion5 form {
    display: flex;
    margin: 15px; }
  footer .seccion5 .marcas {
    margin: 15px; }
    footer .seccion5 .marcas h2:hover {
      padding: 1px;
      font-weight: lighter; }
  footer .seccion5 h4 {
    font-size: 20px;
    margin-right: 20px; }
  footer .seccion5 iframe {
    margin-right: 20px; }
  @media (max-width: 767px) {
    footer .nav {
      display: contents; } }
